*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    max-width: 1600px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 35px;
    justify-content: center;
    align-items: center;
    width: 1600px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    margin: 0px 36px;
    padding-bottom: 5px;

}
nav li a{
    color: black;
    text-decoration: none;
    cursor: pointer;

}

#clr{
    color: #30b868;
}

.box .font h1{
    color: white;
    font-size: 50px;
}
.btn-rt{
    padding: 5px 15px;
    color: white;
    background-color:#30b868;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     text-align: center;
     margin-top: 5px;
        width: 250px;
     height: 50px;
     padding: 5px 10px;
}
.box{
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    text-align: center;
    width:100%;
    height: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    
}
#rj{
    background-color: white;
    color: #30b868;
   width: 200px;
   margin: 0 auto;
   border-radius: 15px;
   padding: 5px;
   padding-top: 7px;
  
   font-size: small;
   align-items: center;
}
.font{
    padding: 99px 120px 163px;
}
.box .font #clr{
    color: #30b868;
}
.box .font p{
    color: white;
}
.box .font .bold1{
    padding: 16px 50px;
    font-weight: bold;
}
#para{
    margin-bottom: 32px;
}
.btn{
    color: white;
    background-color: #30b868;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
}

#nonee{
    background-color: rgba(240, 255, 255, 0);
    border-radius: 5px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.562);
    padding: 8px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.btn{
    padding: 10px;
}

#skill{
    padding-top: 60px;
}
#skill .skill-con{
    max-width: 1360px;
    margin: 0 auto;

}
#skill .skill-con .skill-box{
    display: flex;
    gap: 24px;
    margin: 0 auto;
   justify-content: center;

}

.skill-box .skill-card{
    padding: 30px;
   width: 322px;
    box-shadow: 0 6px 50px 0 #0000001a;
    height: 300px;
    text-align: center;

}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom:20px;
}

.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    justify-content: center;
}
.sec-head h2{
    font-size: 35px;
    margin-bottom: 15px;
}


.sec-head p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
    



.skill-card img{
    background-color:#F95555;
    border-radius: 50px;
    padding: 10px;
}

.brain-con{
    display: flex;
   width: 1360px;

}
.brain-img img{
  size: 5px;
    margin: 120px 40px 120px 120px;

}

.brain-caption{
    margin: 120px 1px 120px 0px;
    padding: 102px 0 50px 102px;
}
#clrr{
    color: #30b868;
    font-size: 14px;
    margin-bottom: 17px;
}
.brain-caption h2{
    font-size: 45px;
    margin-bottom: 16px;
}

.color-p{
    color: #627382;


}

.circle-c {
    margin-top: 20px;
}
.circle-c p{
    margin-bottom: 14px;
}
.last-h{
    padding-top: 60px;
    text-align: center;
    background-color: #f7f6f2;
    width: 1360px;
    margin-left: 60px;
}
.last-h h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.last-h p{
    margin-bottom: 22px;
}

.last-h button{
    margin-bottom: 15px;
}

.footer-head{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 110px 110px 70px 110px;
}
#center{
    text-align: center;
    padding: 24px 110px 32px 110px;
    color: white;
}
footer{
    background-color: #001931;

}
footer hr{
    border: 0.5px solid #394b61;
    margin: 0px 110px;
}
#para-f{
    color: white;
    padding-bottom: 15px;
}
.btn-rt:hover{
    background-color: #8cf3b7;
    color: #757575;
}
.btn:hover{
    background-color: #8cf3b7;
    color: #757575;
}
#nonee:hover{
    background-color: #b7e4ca98;
    color: #ffffffe8;
}
.extra{
    padding-bottom: 40px;
}