*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    max-width: 1600px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 35px;
    justify-content: center;
    align-items: center;
    width: 1600px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    margin: 0px 36px;
    padding-bottom: 5px;

}
nav li a{
    color: black;
    text-decoration: none;
    cursor: pointer;

}

#clr{
    color: #30b868;
}

.box .font h1{
    color: white;
    font-size: 50px;
}
.btn-rt{
    padding: 5px 15px;
    color: white;
    background-color:#30b868;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     text-align: center;
     width: 250px;
     height: 50px;
     margin-top: 5px;
}
.box{
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    text-align: center;
    width:100%;
    height: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    
}
#rj{
    background-color: white;
    color: #30b868;
   width: 200px;
   margin: 0 auto;
   border-radius: 15px;
   padding: 2px;
  
   font-size: small;
   align-items: center;
}
.font{
    padding: 99px 120px 163px;
}
.box .font #clr{
    color: #30b868;
}
.box .font p{
    color: white;
}
.box .font .bold1{
    padding: 16px 50px;
    font-weight: bold;
}
#para{
    margin-bottom: 32px;
}
.btn{
    color: white;
    background-color: #30b868;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 10px;
}

#nonee{
    background-color: rgba(240, 255, 255, 0);
    border-radius: 5px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.562);
    padding: 4px 10px;
    margin-left: 10px;
    text-align: center;
    align-items: center;
}

.btn{
    padding: 10px;
}

#skill{
    padding-top: 60px;
}
#skill .skill-con{
    max-width: 1360px;
    margin: 0 auto;

}
#skill .skill-con .skill-box{
    display: flex;
    gap: 24px;
    margin: 0 auto;
   justify-content: center;

}

.skill-box .skill-card{
    padding: 30px;
    max-width: 300px;
    box-shadow: 0 6px 50px 0 #0000001a;
    height: 300px;
    text-align: center;

}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom:20px;
}

.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    justify-content: center;
}
.sec-head h2{
    font-size: 35px;
    margin-bottom: 15px;
}


.sec-head p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
    

     .sec-head{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.skill-card img{
    background-color:#F95555;
    border-radius: 50px;
    padding: 10px;
}